<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Test" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/index.html" />
                    <conditions>
		          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />                                 
		          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>