<h4>Category List</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a 
                    class="list-group-item list-group-item-action" 
                    ng-repeat="category in $ctrl.categories"
                    ui-sref="categories.category({id: category.id})"
                    ui-sref-active="active">
                    {{category.name}}
                </a>
            </div>
            <button class="btn btn-default" ui-sref="categories.addCategory">Add</button>
        </div>
        <div class="col-sm-8">
            <ui-view></ui-view>
        </div>
    </div>
</div>

